body { padding-bottom: 40em; }
.container-narrow { margin: 0 auto; max-width: 700px; }

#divider { width: 100%; height: 2px; position: absolute; top: 20em; left: 0; background-color: tomato; }
#float { padding: 1em 4em; display: none; position: fixed; top: 5em; left: 0; width: 6em; background-color: royalblue; }

#lightning1 { background: url(../img/ev-bolt1.png) no-repeat; width: 90px; height: 180px; display: block; position: absolute; left: 12em; top: 10em; z-index: 100; }
#lightning2 { background: url(../img/ev-bolt2.png) no-repeat; width: 76px; height: 180px; display: block; position: absolute; right: 12em; top: 10em; }
#lightning3 { background: url(../img/ev-bolt1.png) no-repeat; width: 90px; height: 180px; display: block; position: absolute; right: 22em; top: 10em; z-index: 100; }

#banner { position: relative; width: 80%; height: 200px; }
#banner-left { width: 0; height: 0; border-width: 2em 4em 2em 2em; border-style: solid; border-color: tomato tomato tomato transparent; position: absolute; display: block; left: 0; }
#banner-right { width: 0; height: 0; border-width: 2em 2em 2em 4em; border-style: solid; border-color: tomato transparent tomato tomato; position: absolute; display: block; right: 0; }
#banner-center { display: block; color: #FFFFFF; text-align: center; width: 85%; padding: 1em 0; z-index: 100; position: absolute; top: -.6em; left: 3em; background-color: tomato; border: 3px solid #FFFFFF; border-radius: 2px; }

.fc_circle_holder { position: relative; display: block; width: 100%; height: 20em; }
.fc_circle { 
	position: absolute; 
	overflow: hidden; 
	width: 3em; 
	padding: 7em; 
	border-radius: 50%; 
	/*background-color: rgba(136,233,255,0.5);*/
	display: block; 
	margin-bottom: 3em; 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(255,255,255,1.0)), to(rgba(136,233,255,0.65)));
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1.0), rgba(136,233,255,0.65));
	background: -moz-radial-gradient(circle, rgba(255,255,255,1.0), rgba(136,233,255,0.65));
	background: -ms-radial-gradient(circle, rgba(255,255,255,1.0), rgba(136,233,255,0.65));
}
.fc_circle_pink { 
	/*background-color: rgba(249,39,114,0.5);*/
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(255,255,255,1.0)), to(rgba(249,39,114,0.65)));
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1.0), rgba(249,39,114,0.65));
	background: -moz-radial-gradient(circle, rgba(255,255,255,1.0), rgba(249,39,114,0.65));
	background: -ms-radial-gradient(circle, rgba(255,255,255,1.0), rgba(249,39,114,0.65)); 
}

.fc_circle_holder .fc_circle:nth-child(2) { left: 15em; }
.fc_or { position: absolute; right: .5em; top: 7.75em; z-index: 100; }
.fc_share { position: absolute; bottom: -1.75em; left: 6.5em; background-color: rgba(160,226,45,0.75); border-radius: 50%; width: 1em; height: 1em; padding: 1.5em; box-shadow: 0 0 20px -7px #000; }
.fc_share a { display: block; position: absolute; top: .5em; left: 1.7em; }
.fc_circle_pink .fc_share { background-color: rgba(249,39,114,0.75); }

#pink1 .fc_or { top: 13em; right: 2.75em; }
#pink2 { bottom: -10em; left: 11em; }



/* FUN CALCULATOR PAGE */
#model.faq #maincontent { position: relative; width: 100%; margin: 100px 0 0 0; }
#model.faq #maincontent #top_mask {
		position: absolute; 
		width: 100%; 
		height: 300px; 
		top: 0;  
		z-index: -100;
		-webkit-transform: skewY(.5deg);
		-ms-transform: skewY(.5deg);
		-o-transform: skewY(.5deg);
		transform: skewY(.5deg); 
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F9FA53), to(#E4E44F));
		background: -webkit-radial-gradient(circle, #F9FA53, #E4E44F);
		background: -moz-radial-gradient(circle, #F9FA53, #E4E44F);
		background: -ms-radial-gradient(circle, #F9FA53, #E4E44F);
}
#model.faq #maincontent #bottom_mask {
		position: absolute; 
		width: 100%; 
		height: 300px; 
		top: 19px; 
		-webkit-transform: skewY(-2deg);
		-ms-transform: skewY(-2deg);
		-o-transform: skewY(-2deg);
		transform: skewY(-2deg); 
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F9FA53), to(#E4E44F));
		background: -webkit-radial-gradient(circle, #F9FA53, #E4E44F);
		background: -moz-radial-gradient(circle, #F9FA53, #E4E44F);
		background: -ms-radial-gradient(circle, #F9FA53, #E4E44F);
}
#model.faq #maincontent #calculator { }
#model.faq #maincontent #calculator h2 { color: #FF4E84; margin: 0 auto; padding: 25px 0; }

#model.faq #maincontent .banner { position: relative; width: 80%; margin: 0 auto; }
#model.faq #maincontent .banner_left { width: 0; height: 0; border-width: 2em 4em 2em 2em; border-style: solid; border-color: #00C0ED #00C0ED #00C0ED transparent; position: absolute; display: block; left: 0; }
#model.faq #maincontent .banner_right { width: 0; height: 0; border-width: 2em 2em 2em 4em; border-style: solid; border-color: #00C0ED transparent #00C0ED #00C0ED; position: absolute; display: block; right: 0; }
#model.faq #maincontent .banner_center { display: block; color: #FFFFFF; text-align: center; width: 85%; padding: 0; z-index: 100; position: absolute; top: -.6em; left: 3em; background-color: #00C0ED; border: 3px solid #FFFFFF; border-radius: 2px; }
#model.faq #maincontent h3 { color: #FFFFFF; font-size: 20px; font-weight: bold; width: auto !important; margin: 0 !important; }
#model.faq #maincontent .header_left { left: 33px; }
#model.faq #maincontent .header_right { right: 31px; }

#model.faq #maincontent #calculator #intro { width: 80%; margin: 25px auto; position: relative; }
#model.faq #maincontent #calculator #intro h1 { display: block; position: absolute; top: -60px; left: 30%; text-align: center; font-size: 59px; line-height: 59px; font-family: 'Smart Courier Cn',Arial,Sans-Serif; }
#model.faq #maincontent #calculator #intro h1 span { color: #33DAFE; display: block; font-size: 85px; line-height: 85px; }
#model.faq #maincontent #calculator .banner { width: 250px; margin: 0; position: absolute; }
#model.faq #maincontent #calculator #left_banner { left: 0; }
#model.faq #maincontent #calculator #right_banner { right: 0; }
#model.faq #maincontent #calculator #right_banner .banner_center { left: 2em; }
#model.faq #maincontent #calculator .banner_center { width: 180px; top: -1.5em; border-color: #F1F200; }